<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.parcial">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Parcial">
        <activity
            android:name=".PacientesHospital"
            android:exported="false" />
        <activity
            android:name=".InformacionHospital"
            android:exported="false" />
        <activity
            android:name=".AmbulanciasOcup"
            android:exported="false" />
        <activity
            android:name=".AmbulanciasLibres"
            android:exported="false" />
        <activity
            android:name=".ui.login.PacientesHospital"
            android:exported="false"
            android:label="@string/title_activity_pacientes_hospital" />
        <activity
            android:name=".TodosHospitales"
            android:exported="false" />
        <activity
            android:name=".TodasAmbulancias"
            android:exported="false" />
        <activity
            android:name=".DarDeAlta"
            android:exported="false" />
        <activity
            android:name=".LlevarAcc"
            android:exported="false" />
        <activity
            android:name=".InformarAcc"
            android:exported="false" />
        <activity
            android:name=".ActualizarAmbulancia"
            android:exported="false" />
        <activity
            android:name=".NuevoHospital"
            android:exported="false" />
        <activity
            android:name=".NuevaAmbulancia"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>